#form_login {
    width: 500px;
    margin: 50px auto;

    background-color: red;
}

#form_login label{
    display: block;
    margin: 3px 0;
}

input {
    width: 50%;
} 

button {
    margin: 6px auto;
}